@model Galeria.Models.Foto

@{    
    Layout = "_Layout";
    ViewData["Title"] = "";
}





<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
