@model Galeria.Models.Foto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Detalhes";
}

<div class="text-right">
    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model.Id">Alterar</a>
    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Deletar</a>
</div>

<div class="div-foto-detalhes mt-3">
    <div>
        <img src="/Fotos/Imagem/@Model.Id" alt="Foto" />
    </div>
    <div>
        <a asp-action="Download" asp-route-id="@Model.Id" class="btn btn-success mt-3 w-25">Download</a>
    </div>

    <div class="text-left btn-voltar">
        <a asp-action="Index">&larr; Todas as fotos</a>
    </div>
</div>