@model IEnumerable<Galeria.Models.Foto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Fotos";
    var fotos = ViewBag.Id;
}

<h1 class="mb-3">@ViewData["Title"]</h1>

<div class="div-add-fotos">
    <form enctype="multipart/form-data" asp-controller="Fotos" asp-action="Create" method="post">
        <div class="d-flex flex-column w-100 flex-wrap">
            <div class="d-flex div-fotos-input">
                <input type="text" placeholder="Legenda" name="legenda" />
                <input type="text" placeholder="Descrição" name="descricao" />
                <select asp-items="ViewBag.Albuns" name="album"></select>
                <input type="file" name="foto" />
            </div>
            <div class="d-flex div-input-capa">
                <pre><input type="checkbox" value="true" name="capa" id="capa" />Capa</pre>
                <input type="submit" value="Adicionar Foto" class="btn btn-primary btn-foto text-center" />
                <div></div>
            </div>
        </div>
    </form>
</div>

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    @foreach (var foto in fotos)
    {
        <div class="grid-item">
            <a asp-action="Details" asp-route-id="@foto">
                <img src="/Fotos/Imagem/@foto" alt="Foto" />
            </a>
        </div>
    }
</div>


    <script>
        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            itemSelector: '.grid-item',
            columnWidth: 200
        });
    </script>
