/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/**/

@media (min-width: 901px) {
    html {
        font-size: 16px;
    }

    #foto-home {
        max-height: 35vh;
        margin-right: 100px;
    }

    .btn-home {
        width: 20%;
    }

    #text-home h4 {
        margin-top: 15px;
        margin-bottom: 20px;
    }

        #text-home h4:nth-child(2) {
            margin-left: 15px;
        }

        #text-home h4:nth-child(3) {
            margin-left: 30px;
        }

    .div-add-fotos input {
        width: 25%;
        margin: 5px;
    }

    .div-add-fotos select {
        width: 25%;
        margin: 5px;
    }

    .div-fotos-input {
        flex-direction: row;
    }

    .div-input-capa {
        justify-content: space-between;
    }

    pre {
        min-width: 100px;
        font-size: 18px;
    }

    .grid-item {
        width: 200px;
    }

    .grid-item img {
        width: 100%;
        padding: 5px;
    }

    .div-foto-detalhes img {
        max-width: 60vh;
        max-height: 50vh;
    }

    .div-detalhes-edit select, .div-detalhes-edit input {
        min-width: 200px;
        min-height: 30px;
    }

    .div-detalhes-edit label {
        min-width: 100px;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 16px;
        min-width: 100vh;
        max-width: 100vh !important;
    }

    #foto-home {
        display: none;
    }

    .div-btn-home {
        width: 100%;
        margin: 0 auto !important;
    }

    .btn-home {
        margin: 10px 0;
        width: 60%;
    }

    .div-add-fotos input {
        width: 90%;
        max-width: 90%;
        margin: 5px;
    }

    .div-add-fotos select {
        width: 90%;
        max-width: 90%;
        margin: 5px;
    }

    .div-fotos-input {
        flex-direction: column;
    }

    .div-input-capa {
        flex-direction: column;
    }

    pre {
        margin-top: 15px;
        font-size: 18px;
    }

    .grid-item {
        width: 80vh;
        margin: 0 auto;
    }

        .grid-item img {
            width: 100%;
        }

    .div-foto-detalhes img {
        max-width: 80vh;
    }

    .div-detalhes-edit {
        width: 90vh;
    }

        .div-detalhes-edit label {
            width: 10%;
        }

        .div-detalhes-edit select, .div-detalhes-edit input {
            width: 70%;
            margin-left: 20px;
        }
}

.font-domine {
    font-family: 'Domine', serif;
}

#div-home {
    min-width: 100vh;
    padding: 50px;
}

#font-home h2 {
    font-size: 280%;
}


.div-add-fotos {
    max-width: 100vh;
    min-width: 90vh;
}

.btn-foto {
    min-width: 200px;
    margin-top: 15px;
}

#capa {
    padding: 10px;
    max-height: 35px;
    max-width: 10vh;
    border: 1px solid black;
}

.grid {
    margin-top: 20px;
}

.grid-item img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.div-foto-detalhes  {
    text-align: center;
    margin-top: 40px;
}

.alterar-btn {
    width: 50px;
}
