@model ErrorViewModel
@{    
    Layout = "_Layout";
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger mt-3">Ocorreu um erro</h1>


<h2 class="mt-3">@Model.Message</h2>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
