@model Galeria.Models.Album

@{
    Layout = "_Layout";
    ViewData["Title"] = "Deletar";
}

<h1 class="mt-3 text-center">@Model.Nome</h1>

<h2 class="mt-3">Tem certeza que deseja deletar esse álbum?</h2>
<h5 class="mt-3 text-danger">Ao deletar esse álbum, todas as fotos serão excluídas permanentemente!</h5>

<div class="mt-5 text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger w-25" />
    </form>
</div>
<div class="back">
    <a asp-action="Index">&larr; Meus álbuns</a>
</div>
