
@{
    Layout = "_Layout";
    ViewData["Title"] = "Álbuns";
    int i = 0;
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Albuns" asp-action="NovoAlbum" method="post">
    <div class="d-flex flex-row w-100 mt-3">
        <input type="text" placeholder="Nome do álbum" class="w-75" name="nome" />
        <input type="submit" value="Novo álbum" class="btn btn-primary w-25" />
    </div>
</form>

<div class="container mt-4">
    <div class="row w-100">
        @foreach (var album in ViewBag.Album)
        {
            <div class="col-md-6 col-12 text-center">

                <h4 class="mb-2">
                    @album.Nome
                </h4>

                <a href="/albuns/fotos/@album.Id">
                    <div class="div-album">
                        @if (ViewBag.Fotos[i] != false)
                        {
                            <img src="/Albuns/FotoCapa/@album.Id" alt="Foto de capa" />
                            i++;
                        }
                        else
                        {
                            <img src="~/image/sem-foto.jpg" alt="Sem foto" />
                            i++;
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>